@model IEnumerable<API.DTOs.PackageEvents.PackageEventDto>

@{
    ViewData["Title"] = "Order";
    Layout = "_DashboardUser";
}
<div class="row px-4">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">Order Now</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-muted" href="#">Overview</a></li>
                        <li class="breadcrumb-item" aria-current="page">Order Now</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row" id="list-package">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="fw-bolder d-block mb-7">
                            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                        </div>
                        <div class="text-center my-4">
                            <img src="~/dashboard/assets/images/family.jpg" alt="" class="img-fluid" width="250" height="250">
                        </div>
                        <h2 class="fw-bolder fs-12 mb-3">@Html.DisplayFor(modelItem => item.Price)</h2>
                        <ul class="list-unstyled mb-7">
                            <li class="d-flex align-items-center gap-2 py-2">
                                <i class="ti ti-check text-primary fs-4"></i>
                                <span class="text-dark">@Html.DisplayFor(modelItem => item.Description)</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 py-2">
                                <i class="ti ti-check text-primary fs-4"></i>
                                <span class="text-dark">@Html.DisplayFor(modelItem => item.Capacity) Capacity</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 py-2">
                                <i class="ti ti-check text-primary fs-4"></i>
                                <span class="text-dark">Photo</span>
                            </li>
                        </ul>
                        <a asp-action="AddOrder" asp-controller="User" asp-route-id="@item.Guid" class="btn btn-primary fw-bolder rounded-2 py-6 w-100 text-capitalize">Order</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
